<script src="../boardsPage/boardsScript.js"></script>
<script src="../boardsPage/boardCorner.js"></script>
<script src="../CalendarPage/calendarScribt.js"></script>

<script>window.onload=loadCalendarPage</script>


<h1>calendar page</h1>
<ul id="task_calendar_ul">
    
</ul>