<div id="loading-overlay" class="loading-overlay">
    <img src="../assets/loadingDuck1.png" class="loader-img" id="loading-img-1">
    <img src="../assets/loadingDuck2.png" class="loader-img" id="loading-img-2">
    <img src="../assets/loadingDuck3.png" class="loader-img" id="loading-img-3">
    <h1 id="wait-text">just wait </h1>
    
</div>
<script src="../loadingScribt.js"></script>
<link rel="stylesheet" href="../loadingStyle.css">