<div class="login">
<div class="login-block">
    <div class="input-div">
        <div class="input-feild">
            
                <h1>WELCOME</h1>
            
        </div>
        <div class="input-feild">
            Email
            <input class="textbox" type="text" name="email" id="email" placeholder="example@bhaa.com" />
        </div>
        <div class="input-feild">
            Password
            <input class="textbox" type="text" name="password" id="password" />
        </div>
        <div class="input-feild">
            <p id="errorMessage"></p>
        </div>
    </div>
    
    <div class="btn-div">
        <script src="../routes/index.js"></script>
        <button class="login-btn" onclick="login()">LOGIN
            <script >
                
                async function login(){
                    const email = document.getElementById('email').value;
                    const password = document.getElementById('password').value;
                    const formData = new FormData();
                    formData.append('email',email);
                    formData.append('password',password);
                    await fetch('https://api-backend-of-my-app.onrender.com/api/User',{
                        method : 'GET',
                       // mode : 'same-origin', 
                        headers:{
                            'Content-Type' : 'text/plain'
                        }
                    }).then(response=>{
                        console.log(response);
                        //console.log(response.json());
                        const data = response.json();
                        data.then(d=>{
                            console.log(d);
                        })
                    }).catch(error => {
                        console.log(error);
                    })
                    
                    
                    console.log(email);
                    const response = await fetch('https://api-backend-of-my-app.onrender.com/api/User/login', {
                        method: 'POST',
                        body: formData
                        
                    });
                    const data = response.json();
                    data.then(result=>{
                        if(result.ErrorOccured){
                            document.getElementById('errorMessage').innerText = result.ErrorMessage;
                        }
                        else{
                            const userData= new FormData();
                            userData.append('email',result.ReturnValue.Email);
                            userData.append('username',result.ReturnValue.UserName);
                            userData.append('password',result.ReturnValue.Password);

                            fetch('./user/homePage',{
                                method:'POST',
                                body:userData,
                                mode:"same-origin"
                            }).catch(error=>console.log(error));
                            //window.location.href='./user/homePage';
                            
                        }
                    })
                    
                    
                }
            </script>
        </button>
        <button class="login-btn" onclick="register()">REGISTER<script>
                function register(){
                    fetch('/re',{
                        method:'POST',

                    }).catch(Error=>console.log(error));
                    window.location.href = '/register';
                }
        </script></button>
    </div>
</div>
</div>
<style>
    .login-block {
    display: flex;
    background-color: #076E67;
    justify-content: center;
    align-items: center;
   
    position: absolute;
    width: 80vh;
    height: 80vh;
    margin: 10vh;
    margin-right: 40vh;
    margin-left: 40vh;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 4vh;
    flex-direction: column;
}

.login-btn {
    border-color: #35F8F2;
    margin: 5vh;
    padding: 2vh;
    position: relative;
    background-color: #076E67;
    font-size: 3vh;
    border-radius: 15px;
    color: white;
}

.input-div{
    width:60vh;
    height:45vh;
    display:flex;
    flex-direction:column;
    
}
.input-feild {
    display: flex;
    justify-content: space-between;
   margin:1.5vh;
    margin-left: 5vh;
   font-size:3vh;
}

.textbox{
    width:35vh;
    height :4vh;
}

#errorMessage{
    color:red;
}
</style>

