body{
    background-image: url('./assets/bg.png');
    background-size: cover;
    background-repeat:no-repeat ;
    background-position:70% 30%; 
    height: 100vh;
}


.upper-pannel{
    position: sticky;
    height: 100px;
    background-color: rgb(83, 60, 60);
    width: 100%;
    display: flex;
}
body{
    margin: 0;
}
.img-profile{
    display: flex;
    align-items: center;
    max-width: 80px;
}
.rigth-label-panne{
    background-color: blue;
    display: flexbox;
    flex-direction: column;
}
.label-txt{
    display: flex;
    margin: 2px;
    margin-left: 5px;
    color:white;
    font-size: x-large;
}

.coins-amount{
    position: relative;
    font-size: x-large;
    color:wheat ;
    padding: 5px;
}